<ul class="eq-sprites">
  <li class="eq-sprites__item">
    <img src="{{normal}}" alt="{{name}}'s default sprite.">
    Normal
  </li>

  <li class="eq-sprites__item">
    <img src="{{shiny}}" alt="{{name}}'s shiny sprite.'">
    Shiny
  </li>
</ul>
