<img class="eq-progress-bar__finish" src="/assets/images/finish_line.png" alt="">

<div style="width: {{progress}}%" class="eq-progress-bar__fill">
  <img class="eq-progress-bar__image" src={{runningGIFPath}} alt="" />
</div>
