<h3 class="eq-questions__title" data-test="QuestionItem">
  {{question.text}}
</h3>

<ul class="eq-questions__list" data-test="AnswerList">
  {{#each shuffledAnswers as |answer|}}
    <li class="eq-questions__item">
      <button class="eq-questions__button" data-test="AnswerItem" {{action onSelect question.index answer.value}}>
        {{answer.text}}
      </button>
    </li>
  {{/each}}
</ul>
