<h4>
  Results index page!
</h4>

<div class="eq-flex eq-flex-wrap eq-flex-align-start" data-test="ResultsContainer">
  {{#each all_pokemon as |pokemon|}}
    <div class="eq-flex eq-flex-item eq-flex-column eq-flex-align-center" style="flex: 1 1 33%;">
      <img src="/assets/images/{{pokemon.name}}.png" alt="Picture of {{pokemon.name}}">

      {{ link-to pokemon.name 'results.pokemon' pokemon.name}}

      {{#if (eq winner pokemon.name)}}
        (That's you!)
      {{/if}}
    </div>
  {{/each}}
</div>
