<h1>
  Results index page!
</h1>

<ul class="eq-results" data-test="ResultsContainer">
  {{#each all_pokemon as |pokemon|}}
    <li class="eq-results__item">
      <img class="eq-results__image" src="/assets/images/{{pokemon.name}}.png" alt="Picture of {{pokemon.name}}">

      <h5 class="eq-results__label">
        {{ link-to pokemon.name 'results.pokemon' pokemon.name}}

        {{#if (eq winner pokemon.name)}}
          (That's you!)
        {{/if}}
      </h5>
    </li>
  {{/each}}
</ul>
