<h4>
  Results index page!
</h4>

<ul>
  {{#each all_pokemon as |pokemon|}}
    <li>
      {{ link-to pokemon.name 'results.pokemon' pokemon.name}}

      {{#if (eq winner pokemon.name)}}
        (That's you!)
      {{/if}}
    </li>
  {{/each}}
</ul>
