.eq-nav {
  background-color: color(primary, darker);
}

.eq-nav__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: space-between;
}

.eq-nav__list-item {
  padding: spacing();
}

.eq-nav__link {
  color: color(mono, lighter);
}
