.eq-profile {
  padding: spacing();
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: spacing();
  max-width: breakpoint(max);

  @include larger-than(md) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.eq-profile__results {
  grid-column: 1 / span 1;

  @include larger-than(md) {
    grid-column: 1 / span 1;
  }
}

.eq-profile__basic-info {
  grid-column: 1 / span 1;

  @include larger-than(md) {
    grid-column: 2 / span 1;
  }
}

.eq-profile__stats,
.eq-profile__entries {
  @include larger-than(md) {
    grid-column: 1 / -1;
  }
}

.eq-profile__image {
  margin: 0 auto;
  max-width: 300px;
}
