.eq-questions__list {
  display: grid;
  padding: 0;
  margin: 5vw 0;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr) );
  grid-gap: spacing();

  list-style-type: none;
}

.eq-questions__item {
  margin: 0 spacing(quart) spacing(half);
  flex: 0 1 100%;

  @include larger-than(sm) {
    flex-basis: 45%;
  }

  @include larger-than(md) {
    flex-basis: 30%;
  }

  @include larger-than(max) {
    flex-basis: 22.5%;
  }
}

.eq-questions__button {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: spacing(half) spacing();

  color: color(mono, lightest);
  font-size: type(font-size, h6);
  font-weight: 300;

  border: 0;
  background-color: color(action, base);
  box-shadow: container(box-shadow, 1);
  border-radius: container(border-radius, small);

  cursor: pointer;
  transition: background-color 0.25s, border-radius 0.25s;
  will-transition: background-color border-radius;

  @include hovers() {
    box-shadow: container(box-shadow, 2);
    background-color: color(action, dark);

    transition: background-color 0.5s, border-radius 0.5s;
    will-transition: background-color border-radius;
  }
}
