.eq-results {
  display: grid;
  padding: spacing() 0;
  margin: 0;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr) );
  grid-gap: spacing();

  list-style-type: none;
}

.eq-results__title {
  font-size: type(font-size, h3);
}

.eq-results__item {
  display: flex;
  padding: spacing();
  height: 100%;
  flex-direction: column;
  align-items: center;

  background-color: color(mono, lighter);
  box-shadow: container(box-shadow, 1);

  @include larger-than(md) {
    padding: spacing(double);
    height: 100%;
  }
}

.eq-results__image {
  width: 100%;
  margin: auto 0;
  margin-bottom: spacing();
}

.eq-results__label {
  margin: auto 0 0;

  text-transform: capitalize;
}
