// This function pulls specific color values from the below map
@function color($color, $tone: 'base') {
  @if map-has-key($color-map, $color) {
    @return map-get(map-get($color-map, $color), $tone);
  }
}

// Map for storing all color variables
$color-map: (
  primary: (
    darkest: #0D3331,
    darker: #20504F,
    dark: #38A89D,
    base: #4DC0B5,
    light: #64D5CA,
    lighter: #A0F0ED,
    lightest: #E8FFFE
  ),

  action: (
    darkest: #0d1040,
    darker: #151b6b,
    dark: #1d2695,
    base: #2631c0,
    light: #3f4bd9,
    lighter: #bfc3f2,
    lightest: #eaebfb
  ),

  mono: (
    black: #111,
    darkest: #3D4852,
    darker: #606F7B,
    dark: #8795A1,
    base: #B8C2CC,
    light: #DAE1E7,
    lighter: #F1F5F8,
    lightest: #F8FAFC,
    white: #FFFFFF
  ),

  pokemon: (
    eevee: #a4624a,
    vaporeon: #5ac5e6,
    jolteon: #ffde52,
    flareon: #d54152,
    espeon: #e6a4d5,
    umbreon: #b49429,
    leafeon: #319c73,
    glaceon: #94e6ee,
    sylveon: #f492a5
  )
);

$poke-colors: map-get($color-map, pokemon);
